body {
    background-color: #B73E3E;
    /*background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 50%, #ffffff 100%);*/
    background-repeat: no-repeat;
}

/*p {
    margin-top: 0;
    margin-left: 1100px;
    margin-bottom: 1rem;
}*/

#form {
    padding: 0 15% 0 15%;

}

.table-heading h1 {
    font-family: 'Josefin Sans', sans-serif;
    animation-duration: 1s;
}

.container {
    padding: 3% 15% 0 15%;
}


.btn {
    margin-top: 2%;
}

.input-control {
    padding-top: 2.725%;
}

.inputs {
    color: #EDDBC0;
    margin-bottom: 1%;
}


/*Navbar*/

#title {
    background-color: #EDDBC0;
}

.navbar a {
    color: #B73E3E;
    font-family: 'Ubuntu', sans-serif;
}

.glass {
    /* Glass Effect */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(126, 93, 48, 0.3);
    background: rgba(126, 93, 48, 0.09);
    /* Other Styles */
    padding: 1.2% 10% 1.2% 10%;
}

.nav-item a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.nav-item a:hover {
    font-size: 17.5px;
    transition-duration: 0.3s;
    color: chocolate;
    filter: contrast(200%);
}

/* Slider*/

.info {
    font-family: 'Montserrat', sans-serif;
    margin: 3% 8% 8% 8%;
    font-weight: bolder;
    color: bisque;
}


/* Footer */
#footer {
    background-color: #EDDBC0;
    text-align: center;
    padding: 2% 15% 0% 15%;
    color: #B73E3E;
}

.footer-icon {
    color: #B73E3E;
    padding: 5px;
}

/* DARK - LIGHT Toggle

.button-container-1 {
    position: relative;
    margin-left: auto;
    margin-right: 250px;
    border: 2px solid black;
    width: 75px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.button-1 {
    position: relative;
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    left: 2px;
    transition: 0.3s;
}


After Toggle

.inputs-toggle {
    color: white;
}

.button {
    background-color: white;
    left: 40px;
    transition: 0.3s
}

.button-container {
    border: 2px solid white;
    transition: 0.3s;
}

body {
    transition: 0.5s;
}

.body-color {
    background-image: none;
    background-color: #334756;
    transition: 0.5s;
}
*/